*{
    margin:1;
    background-color: black;
}
#lab-report{
   
    font-weight: 300;
    padding: 0 16px;
    font-size: 16px;
    

}
body{
    height: 200vh;
    color:white;
}
/* h1, h2{
    
    color:rgb(255, 255, 255);
} */
.sections{
    font-size: 16px;
}
.mytext {
    color:cornflowerblue;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

code{
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 15px;
    line-height: 19px;
}
pre {
	background-color: #000000;
	border: 1px solid #cccccc;
	border-radius: 1px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;

}

pre:not(.hljs) {
	padding: 23px;
	line-height: 19px;
}
.hljs {
	display: block;
	overflow-x: auto;
	color: #2aed34;
	padding: 0.5em;
}

/* pre:not(.hljs), */
pre.hljs code > div {
	padding:    16px;
	border-radius: 3px;
	overflow: auto;
}

pre code {
	color: var(--vscode-editor-foreground);
	tab-size: 4;
}


.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
.hljs-number{
    color: orange;
}
.hljs-keyword{
    color:violet;
}

.hljs-title{
    color:cyan;
}