<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={{ url_for("static", filename="css/styles.css")
    }}>
    <!-- For Bootstrap, add your CSS and JS links here -->
    <!-- <link rel="Sytlesheet" href = "static\css\styles.css" > -->
  </head>
  <body>
    <!-- Add your HTML content here... -->
    <div id="lab-report" class="sticky">
      <div id="header"> 
        <header><h1>Cs 235 Lab 2 Report</h1></header>
        <hr>
      </div>
      <div class="sections">
        <Header><h2>Sections</h2></Header>
        <ul>
          <li>
            <a href="#what-is-git">Notes
          </li>
          <li>
          <a href="#reflection">Reflection</a>
          </li>
          <li>
            <a href="#Student-A-Tasks">Tasks</a>
          </li>
        </ul>
    </div>
      <hr>
  </body>
</html>
